@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: "Poppins", sans-serif;
}

body {
  max-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

input,
textarea {
  font-family: "Poppins", sans-serif;
}

textarea {
  height: 100px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: rgb(57, 45, 99);
  margin-left: 5px;
}

li {
  padding: 5px;
}

li:hover {
  cursor: pointer;
}

button:disabled {
  background-color: rgb(244, 244, 244);
}

.input-task input[type="text"] {
  padding: 10px;
  background: inherit;
}

.tasklist {
  max-height: 80vh;
  overflow-y: auto;
  padding-right: 10px;
}

.completed .task-title {
  text-decoration: line-through;
}

.completed li {
  background-color: white;
}

.completed-title {
  display: flex;
  align-items: center;
  width: auto;
  background-color: lightgrey;
  margin-bottom: 10px;
  padding: 10px;
  transition: 0.5s ease;
}

.completed-title h2 {
  margin-left: 10px;
}

.completed-title:hover {
  cursor: pointer;
}

.completed-closed {
  display: none;
  font-size: 20px;
}

.title-bar {
  display: flex;
  align-items: center;
}

.completed-open {
  display: inline-block;
  font-size: 20px;
}

.importantOn {
  color: rgb(55, 0, 255);
  font-size: 20px;
  transition: 0.5s ease;
}

.importantOn:hover {
  color: black;
}

.importantOff {
  color: black;
  font-size: 20px;
  transition: 0.5s ease;
}

.importantOff:hover {
  color: rgb(55, 0, 255);
}

.app {
  display: flex;
  height: 100vh;
}

.navigation {
  width: 170px;
  border-right: 1px solid black;
  height: 100%;
  margin-right: 15px;
  padding: 10px;
}

.topnav {
  display: flex;
  flex-direction: column;
  min-height: 45vh;
}

.projects {
  display: flex;
  flex-direction: column;
  min-height: 45vh;
  justify-content: space-between;
}

.type-project {
  padding: 10px;
  width: 100%;
}

.type-task {
  padding: 5px;
  width: 100%;
  margin-right: 10px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.add-task {
  width: 100px;
  margin-left: 5px;
  background: white;
  border: 1px solid black;
  transition: 0.5s ease;
}

.add-task:hover {
  background-color: rgb(219, 219, 255);
}

.add-project {
  padding: 5px;
  width: 100%;
  margin-top: 10px;
}

.new-project {
  list-style-type: none;
}

.project {
  height: 100%;
  min-width: 330px;
  width: 85%;
  padding: 10px;
  max-height: 100vh;
  background-color: rgb(219, 219, 255);
}

.app-title {
  text-align: center;
  margin-bottom: 10px;
}

.project-title-box {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 700;
}

.edit-project-title {
  display: none;
  font-size: 20px;
  font-weight: 700;
  width: 100%;
  border: 0;
  outline: 0;
  padding: 5px;
  border-bottom: 1px solid black;
}

.project-title:hover {
  cursor: pointer;
  background-color: #00000005;
}

.project-title {
  padding: 5px;
  font-size: 20px;
  font-weight: 700;
  border-bottom: 1px solid white;
  margin-right: 5px;
}

.input-task {
  display: flex;
  width: 100%;
}

.task-input {
  width: 100%;
  padding: 5px;
}

.submit-task {
  padding: 5px;
}

.project-head {
  margin-bottom: 20px;
}

.project-nav-title {
  margin-bottom: 10px;
}

.project-nav-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 135px;
  list-style-type: none;
}

.task {
  list-style-type: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  transition: 0.5s ease;
  width: 100%;
  background-color: white;
}

.task:hover {
  background-color: rgb(219, 219, 255);
}

.task:hover > .task-right {
  display: flex;
  transition: 0.5s ease;
}

.project-delete {
  display: none;
  border: none;
  background: none;
  outline: none;
  margin-left: 5px;
  margin-right: 5px;
}

.project-delete:hover {
  cursor: pointer;
  color: red;
}

.project-nav-item:hover > .project-delete {
  display: inline-block;
  transition: 0.5s ease;
}

.task-list {
  width: 100%;
}

.task-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  height: 100%;
}

.task-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 15px;
}

.top-details {
  display: flex;
  align-items: center;
}

.bottom-details {
  font-size: 14px;
}

.task-title {
  display: inline-block;
  height: 100%;
  width: 100%;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

.task-title-edit {
  display: none;
  margin-left: 10px;
  height: 100%;
  width: 100%;
  outline: 0;
  font-size: 16px;
  border: 0;
  padding: 15px;

  background: none;
}

.task-right {
  display: none;
  align-items: center;
  justify-content: flex-end;
  transition: 0.5s ease;
  float: right;
}

.task-btn {
  margin-left: 5px;
  transition: 0.5s ease;
  background: none;
  border: none;
  font-size: 20px;
}

.task-btn i,
.task-btn svg {
  pointer-events: none;
}

.task-btn:hover {
  cursor: pointer;
  color: rgb(55, 0, 255);
}

.star {
  color: red;
}

.no-star {
  color: yellow;
}

input [type="checkbox"] {
  color: red;
}

.set-project {
  display: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 130px;
}

/* Modal */
.modal-full {
  display: none;
}

.modal {
  width: 400px;
  height: 400px;
}

.modal-close {
  font-size: 20px;
}

.modal-confirm,
.modal-cancel {
  border: 1px solid black;
  padding: 5px 10px;
  font-size: 20px;
}

.modal-confirm:hover,
.modal-cancel:hover {
  background-color: rgb(219, 219, 255);
}
