* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  max-height: 100vh;
}

li {
  padding: 5px;
}

li:hover {
  cursor: pointer;
}

button:disabled {
  background-color: rgb(244, 244, 244);
}

i {
  pointer-events: none;
}

.app {
  display: flex;
  height: 100vh;
}

.navigation {
  width: 200px;
  border-right: 1px solid black;
  height: 100%;
  margin-right: 15px;
  padding: 10px;
}

.topnav {
  display: flex;
  flex-direction: column;
  min-height: 45vh;
}

.projects {
  display: flex;
  flex-direction: column;
  min-height: 45vh;
  justify-content: space-between;
}

.type-project {
  padding: 5px;
  width: 100%;
}

.type-task {
  padding: 5px;
  width: 100%;
}

.add-task {
  width: 100px;
  margin-left: 5px;
  background: white;
  border: 1px solid black;
}

.add-project {
  padding: 5px;
  width: 100%;
  margin-top: 10px;
}

.new-project {
  list-style-type: none;
}

.project {
  height: 100%;
  width: 100%;
  padding: 10px;
}

.app-title {
  text-align: center;
  margin-bottom: 10px;
}

.project-title-box {
  margin-bottom: 30px;
  font-size: 20px;
  font-family: "Arial", sans-serif;
  font-weight: 700;
}

.edit-project-title {
  display: none;
  font-size: 20px;
  font-family: "Arial", sans-serif;
  font-weight: 700;
  border: 0;
}

.project-title {
  font-size: 20px;
  font-family: "Arial", sans-serif;
  font-weight: 700;
}

.input-task {
  display: flex;
  width: 100%;
}

.task-input {
  width: 100%;
  padding: 5px;
}

.submit-task {
  padding: 5px;
}

.project-head {
  margin-bottom: 20px;
}

.project-nav-title {
  margin-bottom: 10px;
}

.project-nav-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.task {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  transition: 0.5s ease;
  padding: 0;
}

.task:hover > .task-right {
  display: flex;
  transition: 0.5s ease;
}

.project-delete {
  display: none;
  border: none;
  background: none;
  outline: none;
}

.project-delete:hover {
  cursor: pointer;
  color: red;
}

.project-nav-item:hover > .project-delete {
  display: inline-block;
  transition: 0.5s ease;
}

.task-left {
  display: flex;
  align-items: center;
  width: 100%;
}

.task-title {
  margin-left: 10px;
  display: block;
  height: 100%;
  width: 100%;
  font-size: 16px;
  font-family: "Arial", sans-serif;
}

.task-title-edit {
  display: none;
  margin-left: 10px;
  height: 100%;
  width: 100%;
  border: 0;
  outline: 0;
  font-size: 16px;
  font-family: "Arial", sans-serif;
}

.task-right {
  display: none;
  align-items: center;
  transition: 0.5s ease;
}

.task-btn {
  margin-left: 5px;
  background: none;
  border: none;
  font-size: 16px;
}

.task-btn:hover {
  cursor: pointer;
  color: red;
}

.star {
  color: red;
}

.no-star {
  color: yellow;
}

input [type="checkbox"] {
  color: red;
}

.set-project {
  display: none;
}
